{% extends 'base.html' %}

{% block content %}
<div class="col-md-6 offset-md-3">

{% if user.is_authenticated  %}

<h1>Home</h1>

<p> Welcome to the CRM</p>

{% else %}
<br />

<br />

<h1>Login</h1>

<br/>

<form method="POST" action="{% url 'home' %}">
{% csrf_token %}

    <div class="mb-3">
        <input type="text" class="form-control" name="username" placeholder="Username" required>
    </div>
    <div class="mb-3">
        <input type="password" class="form-control" name="password" placeholder="Password" required>
    </div>
    <br />
    <button type="submit" class="btn btn-primary">Login</button>
</form>

{% endif %}

</div>

{% endblock %}